test_*.py
test_*.go
workspace/
!Agent专用/web/app/api/workspace/
!Agent专用/web/app/api/workspace/**
.venv/
test/
**/node_modules/
*.db
**.db-shm
**.db-wal
**.kilo


.kilo/
.agent/

**/**.exe
**/.codegraph

demo

**/.gocache/
